<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,NiceScroll"/>
</head>
<body>
<@p.valid id="doctoridentity" action="doctoridentity_edit_sub.do" class="layui-form" layui=true>
 <@p.legend text="提示信息"/> 
 <input type="hidden" name="doctorIdentityId" value="${doctorIdentity.doctorIdentityId}" />
 <input type="hidden" name="accountInfoId" value="${doctorIdentity.accountInfoId}" />
 <input type="hidden" name="departmentId" value="${doctorIdentity.departmentId}" />
 <input type="hidden" name="doctorLevel" value="${doctorIdentity.doctorLevel}" />
         <div class="layui-form-item">
		    <@p.text label="用户姓名" value="${accountInfo.userName}"/>
	     </div>
         <div class="layui-form-item">
		    <@p.text label="医生等级"  value="${doctorIdentity.doctorLevel}"/>
	     </div>
         <div class="layui-form-item">
		    <@p.text label="医院名称"  value="${doctorIdentity.hospitalName}"/>
	     </div>
         <div class="layui-form-item">
		    <@p.text label="科室"  value="${doctorIdentity.departmentId}"/>
	     </div>
	     
	     <fieldset class="layui-elem-field layui-field-title">
			<legend>资格证</legend>
		</fieldset>
		<div class="layui-form-item">
			<div class="layui-inline">
				<img class="go" style="cursor: pointer; padding-left: 40px;" height="70%" width="70%" src="../../${doctorIdentity.qualificationCertificate}">
			</div>
		</div>
	     
         <div class="layui-form-item">
		    <@p.text label="资格证编号"  value="${doctorIdentity.qualificationCertificateNo}"/>
	     </div>
	     
	     <fieldset class="layui-elem-field layui-field-title">
			<legend>执业证</legend>
		</fieldset>
		<div class="layui-form-item">
			<div class="layui-inline">
				<img class="go" style="cursor: pointer; padding-left: 40px;" height="70%" width="70%" src="../../${doctorIdentity.practiceCertificate}">
			</div>
		</div>
	     
	     
         <div class="layui-form-item">
		    <@p.text label="执业证编号"  value="${doctorIdentity.practiceCertificateNo}"/>
	     </div>
         <div class="layui-form-item">
		    <@p.switch label="是否通过"  name="isPass" value="${doctorIdentity.isPass}"/>
	     </div>
         <div class="layui-form-item">
		    <@p.layinput label="审核说明"  name="reason" value="${doctorIdentity.reason}"/>
	     </div>
</@p.valid>
</body>
</html>