<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,NiceScroll,webuploader"/>
</head>
<body>
<@p.valid id="drugtype" action="drugtype_add_sub.do" class="layui-form" layui=true>
 <@p.legend text="提示信息"/> 
         <div class="layui-form-item">
		   <@p.layinput label="类型名称"  datarule="required;" name="drugTypeName" />
	     </div>
	     <@p.legend text="图标" btnId="pre"/>
	<div class="layui-form-item">
		<div class="layui-inline" style="padding-left: 20px;"><@p.upload id="prePic" name="prePic" /></div>
		<input id="goodsHead" name="icon" type="hidden" class="layui-input">
	</div>
        <!--  <div class="layui-form-item">
		   <@p.layinput label="图标"  datarule="required;" name="icon" />
	     </div> -->
	     <div class="layui-form-item"><@p.switch label="是否首页显示" name="isTop" value="1" text="是|否" /></div>
         <div class="layui-form-item">
         
		  <!--  <@p.layinput label="是否首页显示"  datarule="required;" name="isTop" /> -->
	     </div>
         <div class="layui-form-item">
		   <@p.layinput label="排序"  datarule="required;" name="indexs" />
	     </div>
         <div class="layui-form-item">
		   <@p.layinput label="备注"  datarule="required;" name="remark" />
	     </div>
</@p.valid>
<script>
		$(function() {
			var imgs = [];
			var pre = new Upload({
				filePicker : "pre",
				fileList : "prePic",
				num : 1,
				params : {
					businessKey : "30",
					subClassName : "drugtype"
				},
				server : "${base}/admin/drugtype/drugtype_image_upload.do"
			});
			pre.uploadSuccess = function(file, data) {
				$('#goodsHead').val(data.filePath);
			};
			
		});
		</script>
</body>

</html>