<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link href="${base}/res/Content/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
<@p.resource types="Jquery,Easyui,AnyDataGrid,Tree,NiceScroll"/>
<script src="${base}/res/Content/scripts/bootstrap/bootstrap.min.js"></script>
<link href="${base}/res/Content/styles/font-awesome.min.css" rel="stylesheet" />
<link href="${base}/res/Content/styles/learun.css" rel="stylesheet" />
<link href="${base}/res/Content/styles/learun.css" rel="stylesheet" />
<script type="text/javascript">
	var myparams = {};
</script>
</head>
<body class="easyui-layout" style="overflow-y: hidden">
	<div region="center" href="log_list_turn.do" style="padding: 0px; overflow: hidden; border: none"></div>
</body>
</html>