<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,NiceScroll"/>
</head>
<body>
<@p.valid id="purchaseorder" action="purchaseorder_edit_sub.do" class="layui-form" layui=true>
 <@p.legend text="${(languaged !='')?string('Hint information','提示信息')}"/> 
 <input type="hidden" name="purchaseOrderId" value="${purchaseOrder.purchaseOrderId}" />
 <input type="hidden" name="targetId" value="${purchaseOrder.targetId}" />
         <div class="layui-form-item">
		    <@p.layinput label="${(languaged !='')?string('partsId','零件名称')}"  datarule="required;" datamsgrequired="${(required)!''}" name="partsName" value="${partsName}" readonly="readonly"/>    
		    <@p.layinput label="${(languaged !='')?string('firmName','公司')}"  datarule="required;" datamsgrequired="${(required)!''}"  value="${firmName}" readonly="readonly"/>    
	     </div>
       <!--   <div class="layui-form-item">
		    <@p.layinput label="${(languaged !='')?string('workorderNo','工单号')}"  datarule="required;" datamsgrequired="${(required)!''}" name="targetId"  value="${purchaseOrder.targetId}" readonly="readonly"/>    
	     </div> -->
	     <div class="layui-form-item">
		    <@p.layinput label="${(languaged !='')?string('partCost','零件成本')}"  datarule="required;" datamsgrequired="${(required)!''}" name="partCost" value="${purchaseOrder.partCost}"/>    
		    <@p.layinput label="${(languaged !='')?string('partsNumber','零件数量')}"  datarule="required;" datamsgrequired="${(required)!''}" name="partsNumber" value="${partsNumber}"/>    
	     </div>
	     <div class="layui-form-item">
		    <@p.layinput label="${(languaged !='')?string('totalCost','出售价格')}"  datarule="required;" datamsgrequired="${(required)!''}" name="totalCost" value="${purchaseOrder.totalCost}"/>    
		    <@p.layinput label="${(languaged !='')?string('profits','单品利润')}"  datarule="required;" datamsgrequired="${(required)!''}" name="profits" value="${purchaseOrder.profits}"/>    
	     </div>
         <div class="layui-form-item">
         <@p.switch label="${(languaged !='')?string('status','采购状态')}" name="status" value="${purchaseOrder.status}" />
	     </div>
         <div class="layui-form-item">
	     </div>
</@p.valid>
</body>
<script type="text/javascript">
/* 监听input框默layui 不监听 */
		 layui.use(['form', 'layedit', 'laydate','jquery'], function(){
		//主要功能实现
		$("input[name='totalCost").bind('input propertychange', check);			
		$("input[name='partCost").bind('input propertychange', check1);			
		function check() {
			 var totalCost = $("input[name='totalCost']").val();
			 var partCost = $("input[name='partCost']").val();
			 console.log(totalCost);
			 console.log(partCost);
			 if(parseInt(totalCost)>0){				 
			 $("input[name='profits']").val(totalCost-parseInt(partCost));
			 }else{
				 $("input[name='profits']").val(0)
			 } 
				}
		function check1() {
			 var totalCost = $("input[name='totalCost']").val();
			 var partCost = $("input[name='partCost']").val();
			 console.log(totalCost);
			 console.log(partCost);
			 if(parseInt(totalCost)>0){				 
			 $("input[name='profits']").val(totalCost-parseInt(partCost));
			 }else{
				 $("input[name='profits']").val(0)
			 } 
				}
		}); 
</script>
</html>