.navbar{ position: fixed; top: 0;left: 0; width: 100%; z-index: 999;}
/*关于我们*/
.about-text p{ font-size: 18px; padding-bottom: 10px; line-height: 30px;}
.about-text span{ font-size: 12px; color: #999999; line-height: 24px;}
/*优势*/
.advantage{ background:#ededed;}
.advantage .tit{ text-align: center; font-size: 24px;}
.advantage-item{ background: #FFFFFF; float: left; padding: 40px 35px;}
.advantage-item .s1{ display: block; font-size: 18px; color: #e8537a;}
.advantage-item .s2{ display: block; padding-top: 20px;color: #444; font-size: 12px; line-height: 24px;text-align: justify;}
/*运营支持*/
.support{padding: 100px 0;}
.support .tit{ text-align: center; font-size: 24px;}
.support-item { float: left;}
.support-item .center{ width: 160px; margin: 0 auto;}
.support-item .icon{width: 160px; height: 160px; border-radius: 160px; background: #e8537a; display:table-cell;
            vertical-align:middle;
            text-align: center;}
            .support-item .icon span{display:inline-block; color: #FFFFFF; font-size: 20px; line-height: 30px;}
.support-item .text{ display: block; padding-top: 40px; font-size: 12px; line-height: 24px; color: #999999;}
/*招商政策*/
.policy{ width: 100%; padding: 40px 0; background: url(../img/middle-bg.jpg) center center no-repeat; background-size: 100% 100%;}
.policy font{ display: block; text-align: center; color: #FFFFFF; font-size: 36px; letter-spacing: 5px;}
.policy span{ display: block; text-align: center; color: #FFFFFF; font-size: 26px; padding-top: 10px; letter-spacing: 2px;}
/*招商定位*/
.position-item { float: left;}
.position-item .center{ width: 160px; margin: 0 auto;}
.position-item .icon{width: 143px; height: 143px; background: url(../img/home-con-bg.png) no-repeat; display:table-cell;
            vertical-align:middle;
            text-align: center;}
            .position-item .icon span{display:inline-block; color: #FFFFFF; font-size: 40px; letter-spacing: 5px; padding-bottom: 10px; padding-right: 5px;}
.position-item .text{ display: block; text-align: center; padding-top: 40px; font-size: 16px; padding-right: 10px;}

/*资质要求*/
.qualification-item{ margin-top: 60px;}
.qualification-item img{ display: block; width: 66px; height: 66px; float: left;}
.qualification-item span{display: block; padding-left: 86px;  font-size: 14px; color: #333; line-height: 26px;}
.pdb30{ padding-bottom: 30px!important;}
/*加入*/
.join img{display: block; width: 100%;object-fit: cover;}

/*footer*/
.footer{ width: 100%; background: #333439; padding: 75px 0;}
.contact .s1{ font-size: 22px; color: #FFFFFF; letter-spacing: 5px; display: block; margin-top: 5px;}
.contact .s2{ display: block; padding: 10px 0; color: #e8537a; font-size: 28px;letter-spacing: 5px;}
.contact .s3{ color: #FFFFFF;}
.contact .s3 a{ display: block; color: #FFFFFF; text-decoration: none; letter-spacing: 3px;}
.footer .ewm-img{ display: block; width: 142px; height: 142px; float: left; }
.footer .down img{ display: block; padding-left: 20px; margin-top: 12px;}
.footer-text{width: 100%; background: #333439; padding: 15px; border-top: 1px solid #666;}
.footer-text span{ color: #adadad; line-height: 24px; font-size: 12px;}


/*返回顶部样式*/
.izl-rmenu{position: fixed; right: 15px; bottom: 30px; width: 40px; z-index: 999;}
.izl-rmenu .btn{width:40px; height:40px; margin-bottom:2px; cursor:pointer; position:relative; border-radius:8px;}
.izl-rmenu .btn-qq{background:url(../img/qq.png) center center no-repeat #ea364f;}
.izl-rmenu .btn:hover{background-color: #ea364f;}
.izl-rmenu a.btn-qq, .izl-rmenu a.btn-qq:visited{background:url(../img/qq.png) center center no-repeat #ea364f; text-decoration:none; display:block;}
.izl-rmenu .btn-phone{background:url(../img/tel.png) center center no-repeat #ea364f;}
.izl-rmenu .btn-phone .phone{background: #ea364f; position: absolute; width:140px; left:-130px; top:0px; border-radius:8px 0 0 8px; line-height:40px; color:#FFF; font-size:18px; text-align:center; display:none;}
.izl-rmenu .btn-top{background:url(../img/up_01.png) center center no-repeat #e8537a; opacity: 1; display:none;}
/*.izl-rmenu .btn-top:hover{background:url(../img/up_01.png) center center no-repeat #e8537a; opacity: 1;}*/
.izl-rmenu .btn-top .backtop{display: none; width: 28px; height: 28px; padding: 6px; line-height: 14px; color: #fff;}
/*.izl-rmenu .btn-top:hover .backtop{display: block;}*/

#myCarousel{position: relative;}
.advantage{ position: relative;}
.support{ position: relative;}
.position{ position: absolute; bottom: 0; left: 0; width: 100%; height: 99px;}
.position-top{ height: 99px;}
/*媒介查询*/
@media (min-width:1200px) {
	.about{ padding: 100px 0;}
	.about-text p{ padding-top: 5px;}
	.about-text span{ display: block; width: 80%;}
	.mt100{ margin-top: 100px;}
	.advantage{ padding: 80px 0;}
	.advantage-list{ padding-top: 50px;}
	.advantage-item{ width: 19.2%; margin-right: 1%;}
	.advantage-item:last-child{ margin-right: 0;}
	.support-list{ padding-top: 50px;}
	.support-item{ width: 17%; margin: 0 4%;}
	.position-item{ width: 17%; margin: 0 4%;}
	.qualification-item{padding: 0 25px!important;}
	.contact{ padding-left: 80px!important;}
	.footer .logo{ display: block; width: 158px; height: 57px; padding: 0; margin-left: 108px; margin-top: 42px;}
}
@media (min-width:768px) and (max-width:1200px) {
	.about{ padding: 80px 0;}
	.mt100{ margin-top: 100px;}
	.advantage{ padding: 50px 0;}
	.advantage-item{ width: 40%; margin: 30px 5% 0 5%;}
	.support{padding: 80px 0;}
	.support-item{ width: 40%; margin: 30px 5% 0 5%;}
	.policy{ padding: 25px 0;}
	.policy font{ font-size: 24px;}
	.policy span{ font-size: 18px;}
	.position-item{ width: 40%; margin: 40px 5% 0 5%;}
	.qualification-item{ margin-top: 30px;}
	.footer .logo{ display: block; width: 158px; height: 57px; padding: 0; margin-left: 50px; margin-right: 30px; margin-top: 42px;}
	.footer .ewm{ margin-top: 30px;}
	.footer .ewm-img{ display: block; width: 90px; height: 90px; float: left; }
    .footer .down img{ display: block;  height: 40px;padding-left: 10px; margin-top: 4px;}
}
@media (max-width:768px) {
	.about{ padding: 40px 0;}
	.about-item{ margin-bottom: 40px;}
	.about-item:last-child{ margin: 0;}
	.about-text p{font-size: 16px; padding-bottom: 0px;}
	.mt100{ margin-top: 50px;}
	.advantage{ padding: 30px 0;}
	.advantage-item{ width: 80%; margin: 30px auto 0 auto; padding: 30px 20px; float: none;}
	.advantage-item .s1{ font-size: 16px;}
	.advantage .tit{ font-size: 20px;}
	.support{padding: 40px 0;}
	.support .tit{ font-size: 20px;}
	.support-item{  width: 40%; margin: 30px 5% 0 5%;}
	.support-item .center{ width: 7.5em; margin: 0 auto;}
    .support-item .icon{width: 7.5em; height: 7.5em; border-radius: 7.5em; }
    .support-item .icon span{ font-size: 16px; line-height: 26px;}
    .support-item .text{ display: block; padding-top: 20px;}
    .policy{ padding: 15px 0;}
	.policy font{ font-size: 20px;}
	.policy span{ font-size: 15px; padding-top: 5px;}
	.position-item{  width: 40%; margin: 30px 5% 0 5%;}
	.position-item .center{ width: 6.5em; margin: 0 auto;}
    .position-item .icon{width: 6.5em; height: 6.5em;  background-size:6.5em 6.5em;}
    .position-item .icon span{ font-size: 24px; padding-bottom: 5px; padding-right: 0;}
    .position-item .text{ display: block; padding-top: 20px; font-size: 14px;}
    .qualification-item{ margin-top: 20px;}
    .qualification-item img{ width: 50px; height: 50px;}
    .qualification-item span{ padding-left: 65px;}
    .join img{ height: 80px;object-fit: cover;}
    .footer{ padding: 35px 0;}
    .contact{ margin-top: 20px; margin-left: 8.33333333333%;}
    .contact .s2{ padding: 0;}
	.footer .ewm{ margin-top: 30px; margin-left: 8.33333333333%;}
	.footer .ewm-img{ display: block; width: 100px; height: 100px; float: left; }
    .footer .down img{ display: block;  height: 45px;padding-left: 10px; margin-top: 4px;}
    .footer-text span{ display: block; line-height: 20px;}
    .position{ height: 49px;}
    .position-top{ height: 49px;}
}

