<body style="overflow: hidden">
 <script type="text/javascript">
      var collect;
    $(function() {
      collect = new Dd("collect");
      collect.url = "collect_list_data.do";
      collect.title = "信息";
      collect.colM = [ [ {
        field : "ck",
        checkbox : true,
        align : "center"
      }, {
        title : "主键",
        field : "collectId",
        alias : "c",
        hidden:true,
        width : 100,
        align : "center"
      } ,{
        title : "用户ID",
        field : "accountInfoId",
        alias : "c",
        width : 100,
        align : "center"
      } ,{
        title : "链接",
        field : "link",
        alias : "c",
        width : 100,
        align : "center"
      } ,{
        title : "图片",
        field : "image",
        alias : "c",
        width : 100,
        align : "center"
      } ,{
        title : "类型1:课件2:提问3:专家Id",
        field : "type",
        alias : "c",
        width : 100,
        align : "center"
      } ,{
        title : "创建时间",
        field : "createDate",
        alias : "c",
        width : 100,
        align : "center"
      } ] ];

      collect.toolbar = [ {
        id : "collect_add",
        text : "添加",
        iconCls : "icon-add",
        handler : function() {
          collect.open2({
            title : "添加",
            h : "300px",
			w : "450px",
            url : "collect_add_turn.do"
          });
        }
      }, {
        id : "collect_edit",
        text : "修改",
        iconCls : "icon-edit",
        disabled : true,
        handler : function() {
          collect.updata2({
            title : "修改",
            h : "300px",
			w : "450px",
            url : "collect_edit_turn.do",
            params : {
                collectId : collect.rowKey
            }
		  });
        }
      }, {
        id : "collect_del",
        text : "删除",
        iconCls : "icon-remove",
        disabled : true,
        handler : function() {
          collect.remove({
             url : "collect_del_sub.do",
             params : {
                collectId : collect.rowKey
             }
		  });
        }
      } ];
      collect.param = myparams;
      collect.onClickRow = function(rowIndex, rowData) {
       $("#collect_edit,#collect_del").linkbutton("enable");
      }
      collect.onLoadSuccess = function(data) {
       $("#collect_edit,#collect_del").linkbutton("disable");
      };
      collect.LoadDataGrid();
      $('#search').linkbutton({
        iconCls : 'icon-save',
        onClick : function() {
          collect.search(myparams);
        }
      });
    });
  </script>
 <div fit="true" class="easyui-layout">
  <div region="north" title="查询条件" style="height: 70px;">
   <div class="pannel_search">
       <a href="javascript:;" id="search">查询</a>
   </div>
  </div>
  <div region="center" style="overflow: hidden;border: none;">
   <table fit="true" namespace="collect" id="collect" class="datagrid"></table>
  </div>
 </div>
</body>