<body style="overflow: hidden">
 <script type="text/javascript">
      var equipmenttyperemark;
    $(function() {
      equipmenttyperemark = new Dd("equipmenttyperemark");
      equipmenttyperemark.url = "equipmenttyperemark_list_data.do";
      equipmenttyperemark.title = "${(languaged !='')?string('englishName',' 设备类型备注信息 ')}";
      equipmenttyperemark.colM = [ [ /* {
        field : "ck",
        checkbox : true,
        align : "center"
      }, */ {
        title : "主键",
        field : "equipmenttyperemarkId",
        alias : "e",
        hidden:true
      } ,{
        title : "${(languaged !='')?string('equipmentTypeRemarkNameZn','设备类型备注中文')}",
        field : "equipmentTypeRemarkNameZn",
        alias : "e",
        width : 100,
        align : "center"
      } ,{
        title : "${(languaged !='')?string('equipmentTypeRemarkNameEn','设备类型备注英文')}",
        field : "equipmentTypeRemarkNameEn",
        alias : "e",
        width : 100,
        align : "center"
      } ,{
        title : "${(languaged !='')?string('indexs','排序')}",
        field : "indexs",
        alias : "e",
        width : 100,
        align : "center"
      } ,{
        title : "${(languaged !='')?string('createDate','创建日期')}",
        field : "createDate",
        alias : "e",
        width : 100,
        align : "center"
      } ] ];

      equipmenttyperemark.toolbar = [ {
        id : "equipmenttyperemark_add",
        text : "${(languaged !='')?string('add',' 添加 ')}",
        iconCls : "icon-add",
        handler : function() {
          equipmenttyperemark.open2({
            title : "${(languaged !='')?string('add','添加 设备类型备注')}",
            h : "70%",
			w : "45%",
			btn:["${(languaged !='')?string('confirm',' 确认 ')}","${(languaged !='')?string('close',' 关闭 ')}"],
            url : "equipmenttyperemark_add_turn.do",
            params : myparams
          });
        }
      }, {
        id : "equipmenttyperemark_edit",
        text : "${(languaged !='')?string('edit',' 修改')}",
        iconCls : "icon-edit",
        disabled : true,
        handler : function() {
          equipmenttyperemark.updata2({
            title : "${(languaged !='')?string('edit','修改 设备类型备注')}",
            h : "70%",
			w : "45%",
            url : "equipmenttyperemark_edit_turn.do",
            btn:["${(languaged !='')?string('confirm',' 确认 ')}","${(languaged !='')?string('close',' 关闭 ')}"],
            params : {
                equipmenttyperemarkId : equipmenttyperemark.rowKey
            }
		  });
        }
      }, {
        id : "equipmenttyperemark_del",
        text : "${(languaged !='')?string('delete',' 删除')}",
        iconCls : "icon-remove",
        disabled : true,
        handler : function() {
          equipmenttyperemark.remove({
             url : "equipmenttyperemark_del_sub.do",
             params : {
                equipmenttyperemarkId : equipmenttyperemark.rowKey
             },
             title:"${(languaged !='')?string('are you delete?','')}",
             content:"${(languaged !='')?string('delete content','确定要删除所选记录吗?')}",
              btn:["${(languaged !='')?string('confirm',' 确认 ')}","${(languaged !='')?string('close',' 关闭 ')}"]
		  });
        }
      } ];
      equipmenttyperemark.param = myparams;
      equipmenttyperemark.onClickRow = function(rowIndex, rowData) {
       $("#equipmenttyperemark_edit,#equipmenttyperemark_del").linkbutton("enable");
      }
      equipmenttyperemark.onLoadSuccess = function(data) {
       $("#equipmenttyperemark_edit,#equipmenttyperemark_del").linkbutton("disable");
      };
      equipmenttyperemark.LoadDataGrid();
      $('#search').linkbutton({
        iconCls : 'icon-search',
        onClick : function() {
          equipmenttyperemark.search(myparams);
        }
      });
    });
  </script>
 <div fit="true" class="easyui-layout">
  <div region="north" title="查询条件" style="height: 70px;">
   <div class="pannel_search">
       <a href="javascript:;" id="search">${(languaged !='')?string('search','查询')}</a>
   </div>
  </div>
  <div region="center" style="overflow: hidden;border: none;">
   <table fit="true" namespace="equipmenttyperemark" id="equipmenttyperemark" class="datagrid"></table>
  </div>
 </div>
</body>