<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,NiceScroll"/>
</head>
<body>
<@p.valid id="equipment" action="equipment_add_sub.do" class="layui-form" layui=true>
 <@p.legend text="${(languaged !='')?string('Hint information','提示信息')}"/> 
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('equipmentType','设备类型')}"  datarule="required;" datamsgrequired="${(required)!''}" name="equipmentType" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('equipmentNo','设备编号')}"  datarule="required;" datamsgrequired="${(required)!''}" name="equipmentNo" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('orderNo','订购单号')}"  datarule="required;" datamsgrequired="${(required)!''}" name="orderNo" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('equipmentAddress','设备地址')}"  datarule="required;" datamsgrequired="${(required)!''}" name="equipmentAddress" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('brand','品牌')}"  datarule="required;" datamsgrequired="${(required)!''}" name="brand" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('factoryDate','出厂日期')}"  datarule="required;" datamsgrequired="${(required)!''}" name="factoryDate" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('isoNormal','质量标准')}"  datarule="required;" datamsgrequired="${(required)!''}" name="isoNormal" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('capacity','容量')}"  datarule="required;" datamsgrequired="${(required)!''}" name="capacity" />
	     </div>
</@p.valid>
</body>
</html>