<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,NiceScroll"/>
</head>
<body>
<@p.valid id="relationship" action="relationship_add_sub.do" class="layui-form" layui=true>
 <@p.legend text="提示信息"/> 
         <div class="layui-form-item">
		   <@p.layinput label="关系名称"  datarule="required;" name="relationshipName" />
	     </div>
         <div class="layui-form-item">
		   <@p.layinput label="关系键"  datarule="required;" name="relationshipKey" />
	     </div>
</@p.valid>
</body>
</html>