<body style="overflow: hidden"><script src="/plug-in/viewer/js/viewer.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/plug-in/viewer/css/viewer.min.css" />
 <script type="text/javascript">
      var medicalservice;
    $(function() {
      medicalservice = new Dd("medicalservice");
      medicalservice.url = "select_medicalservice_data.do";
      medicalservice.title = "医疗服务信息";
      medicalservice.colM = [ [ /* {
        field : "ck",
        checkbox : true,
        align : "center"
      }, */ {
        title : "主键",
        field : "medicalserviceId",
        alias : "m",
        hidden:true
      } ,{
        title : "特色服务分类ID",
        field : "specialTypeId",
        alias : "m",
        width : 100,
        align : "center",
        hidden:true
      } ,{
        title : "服务名称",
        field : "medicalServiceName",
        alias : "m",
        width : 100,
        align : "center"
      } ,{
        title : "图标",
        field : "icon",
        alias : "m",
        width : 100,
        align : "center",
        formatter : function(value, row, index) {
			return '<img onclick="show()" width="71px;" align="center" height="40px;" src="../../' + row.icon
			+ '" />';
			}
      } ,{
        title : "图片",
        field : "imgs",
        alias : "m",
        width : 100,
        align : "center",
        formatter : function(value, row, index) {
			return '<img onclick="show()" width="71px;" align="center" height="40px;" src="../../' + row.imgs
			+ '" />';
		}
      } /* ,{
        title : "详细介绍",
        field : "content",
        alias : "m",
        width : 100,
        align : "center"
      } ,{
        title : "适用人群",
        field : "allAdults",
        alias : "m",
        width : 100,
        align : "center"
      } ,{
        title : "注意事项",
        field : "beCareful",
        alias : "m",
        width : 100,
        align : "center"
      } */ ,{
        title : "初级价格",
        field : "primaryPrice",
        alias : "m",
        width : 100,
        align : "center"
      } ,{
        title : "中级价格",
        field : "intermediatePrice",
        alias : "m",
        width : 100,
        align : "center"
      } ,{
        title : "副高级价格",
        field : "deputySeniorPrice",
        alias : "m",
        width : 100,
        align : "center"
      } ,{
        title : "正高级价格",
        field : "positiveAdvancedPrice",
        alias : "m",
        width : 100,
        align : "center"
      } ,{
        title : "备注",
        field : "remark",
        alias : "m",
        width : 100,
        align : "center"
      } ,{
        title : "创建日期",
        field : "createDate",
        alias : "m",
        width : 100,
        align : "center"
      } ] ];

      medicalservice.toolbar = [ ];
      medicalservice.param = myparams;
      medicalservice.onClickRow = function(rowIndex, rowData) {
       $("#medicalservice_edit,#medicalservice_del").linkbutton("enable");
      }
      medicalservice.onLoadSuccess = function(data) {
       $("#medicalservice_edit,#medicalservice_del").linkbutton("disable");
      };
      medicalservice.LoadDataGrid();
      $('#search').linkbutton({
        iconCls : 'icon-search',
        onClick : function() {
        	myparams.serviceName=$("#serviceName").val();
          medicalservice.search(myparams);
        }
      });
      $('#sub').linkbutton({
			iconCls : 'icon-save',
			onClick : function() {
				func.setTextBox(medicalservice.getSelectedRow());
				var index = parent.layer.getFrameIndex(window.name); //获取窗口索引  
				parent.layer.close(index);//关闭弹出的子页面窗口 
			}
		});
    });
    function show() {
		var viewer = new Viewer(document.getElementById('imgdiv'), {
			url : 'data-original'
		});
		viewer.show();
	}
  </script>
 <div fit="true" class="easyui-layout">
  <div region="north" title="查询条件" style="height: 70px;">
   <div class="pannel_search">
    服务名称：<input type="text" class="easyui-textbox" id="serviceName" /> 
       <a href="javascript:;" id="search">查询</a>
       <a href="javascript:;" id="sub">确认</a>
   </div>
  </div>
  <div region="center" id="imgdiv" style="overflow: hidden;border: none;">
   <table fit="true" namespace="medicalservice" id="medicalservice" class="datagrid"></table>
  </div>
 </div>
</body>