<body style="overflow: hidden">
<script src="/plug-in/viewer/js/viewer.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/plug-in/viewer/css/viewer.min.css" />
 <script type="text/javascript">
      var disease;
    $(function() {
      disease = new Dd("disease");
      disease.url = "select_disease_data.do";
      disease.title = "疾病类型信息";
      disease.singleSelect = false;
      disease.colM = [ [  {
        field : "ck",
        checkbox : true,
        align : "center"
      },   {
        title : "主键",
        field : "diseaseId",
        alias : "d",
        hidden:true
      } ,{
        title : "疾病名称",
        field : "diseaseName",
        alias : "d",
        width : 100,
        align : "center"
      } ,{
        title : "图标",
        field : "icon",
        alias : "d",
        width : 100,
        align : "center",
        formatter : function(value, row, index) {
			return '<img onclick="show()"  width="80px;" height="50px;" src="../../' + row.icon + '" />';
		}
      } ,{
        title : "排序",
        field : "indexs",
        alias : "d",
        width : 100,
        align : "center",
        hidden:true
      } ,{
        title : "备注",
        field : "remark",
        alias : "d",
        width : 100,
        align : "center"
      } ,{
        title : "创建日期",
        field : "createDate",
        alias : "d",
        width : 100,
        align : "center"
      } ,{
        title : "上级Id",
        field : "parentId",
        alias : "d",
        width : 100,
        align : "center",
        hidden:true
      } ,{
        title : "级别",
        field : "level",
        alias : "d",
        width : 100,
        align : "center", 
        hidden:true
      } ] ];

      disease.toolbar = [  ];
      disease.param = myparams;
      disease.onClickRow = function(rowIndex, rowData) {
       $("#disease_edit,#disease_del").linkbutton("enable");
       /** 点选一行事件 */
  	  if(disease.getSelections('diseaseId').indexOf(",") != -1){ 				// 多选不可查看
  	   	   $("#disease_detail,#disease_edit").linkbutton("disable");
  	      }
  	    	if(disease.getSelections('diseaseId') == ""){							// 没有选中任何条目，禁用所有按钮
  	     	   $("#disease_detail,#disease_del,#disease_edit").linkbutton("disable");
  	       }
       
      }
 
      /** 勾选事件 */
      disease.onCheck = function(rowIndex, rowData) {
    	   $("#disease_detail,#disease_del,#disease_edit").linkbutton("enable");
         	if(disease.getSelections('diseaseId').indexOf(",") != -1){			// 多选不可查看
           	   $("#disease_detail,#disease_edit").linkbutton("disable");
             }
       }
      /** 反勾选事件 */
      disease.onUncheck = function(rowIndex, rowData) {
         	if(disease.getSelections('diseaseId') == ""){						//反选时间，当没有选中任何条目，禁用所有按钮
         		  $("#disease_detail,#disease_del,#disease_edit").linkbutton("disable");
              }
       }
      /** 全选事件 */
      disease.onCheckAll = function(data) {
    	$("#disease_detail,#disease_edit").linkbutton("disable");//全选禁用
       	$("#disease_del").linkbutton("enable");
      };
      /** 反全选事件 */
       disease.onUncheckAll = function(data) {//全部反选事件，禁用所有按钮			
    	   $("#disease_detail,#disease_del,#disease_edit").linkbutton("disable");
       };
       disease.onLoadSuccess = function(data) {
           $("#disease_edit,#disease_del").linkbutton("disable");
          };
      disease.LoadDataGrid();
      $('#search').linkbutton({
        iconCls : 'icon-search',
        onClick : function() {
        	myparams.diseaseName=$("#diseaseName").val();
          disease.search(myparams);
        }
      });
      $('#sub').linkbutton({
			iconCls : 'icon-save',
			onClick : function() {
				//console.log(disease.getSelectedRows());
				 func.setTextBox(disease.getSelectedRows());
				var index = parent.layer.getFrameIndex(window.name); //获取窗口索引  
				parent.layer.close(index);//关闭弹出的子页面窗口  
			}
		});
    });
    function show() {
		var viewer = new Viewer(document.getElementById('imgdiv'), {
			url : 'data-original'
		});
		viewer.show();
	}
  </script>
 <div fit="true" class="easyui-layout">
  <div region="north" title="查询条件" style="height: 70px;">
   <div class="pannel_search">
   名称：<input type="text" class="easyui-textbox" id="diseaseName" />
       <a href="javascript:;" id="search">查询</a>
         <a href="javascript:;" id="sub">确认</a>
   </div>
  </div>
  <div id="imgdiv" region="center" style="overflow: hidden;border: none;">
   <table fit="true" namespace="disease" id="disease" class="datagrid"></table>
  </div>
 </div>
</body>