<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,NiceScroll,webuploader"/>
</head>
<body>
<@p.valid id="webslider" action="webslider_add_sub.do" class="layui-form" layui=true>
	<fieldset class="layui-elem-field layui-field-title">
		<legend>添加轮播</legend>
	</fieldset>
         <div class="layui-form-item">
		   <@p.layinput label="标题"  datarule="required;" name="websliderTitle" />
	     </div>
	     <div class="layui-form-item">
		   <@p.layinput label="连接"  datarule="required;" name="href" />
	     </div>
        <@p.legend text="上传图片 建议510×286" btnId="pre"/>
		<div class="layui-form-item">
			<div class="layui-inline" style="padding-left: 20px;"><@p.upload id="prePic" name="prePic" /></div>
			<input id="websliderImg" name="websliderImg" type="hidden" class="layui-input">
		</div>
</@p.valid>
<script type="text/javascript">
		$(function() {
			/**下面是图片上传*/
			niceScroll("body");
			var pre = new Upload({
				filePicker : "pre",
				fileList : "prePic",
				fileVal : "webslider_file",
				params : {
					businessKey : "30",
					subClassName : "webslider"
				},
				server : "${base}/admin/webslider/webslider_image_upload.do"
			});
			pre.uploadSuccess = function(file, data) {
				$('#websliderImg').val(data.filePath);
			}
		});
	</script>
</body>
</html>