<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,NiceScroll"/>
</head>
<body>
<@p.valid id="parts" action="parts_add_sub.do" class="layui-form" layui=true>
 <@p.legend text="${(languaged !='')?string('Hint information','提示信息')}"/> 
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('equipmentId','设备Id')}"  datarule="required;" datamsgrequired="${(required)!''}" name="equipmentId" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('partsName','配件名称')}"  datarule="required;" datamsgrequired="${(required)!''}" name="partsName" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('isoNormal','质量标准')}"  datarule="required;" datamsgrequired="${(required)!''}" name="isoNormal" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('capacity','容量')}"  datarule="required;" datamsgrequired="${(required)!''}" name="capacity" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('partsNumber','配件数量')}"  datarule="required;" datamsgrequired="${(required)!''}" name="partsNumber" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('machinalModel','机型')}"  datarule="required;" datamsgrequired="${(required)!''}" name="machinalModel" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('serialNo','流水号')}"  datarule="required;" datamsgrequired="${(required)!''}" name="serialNo" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('brand','品牌')}"  datarule="required;" datamsgrequired="${(required)!''}" name="brand" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('remark','备注')}"  datarule="required;" datamsgrequired="${(required)!''}" name="remark" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('factoryDate','生产日期')}"  datarule="required;" datamsgrequired="${(required)!''}" name="factoryDate" />
	     </div>
</@p.valid>
</body>
</html>