
.user {margin: 48px 0 0;}
.management ul {margin-bottom: 0.75rem;background-color: white;}
.management ul li {border-bottom: 1px solid #EAEAEA;margin: 0 0.75rem;}
.management ul li:last-child {border-bottom: 0px solid #EAEAEA;}
.touxiang {width: 4rem;}
.next {height: 1rem;position: absolute;top: 0.5rem;right: 0.75rem;}
.tx {margin-top: 1.5rem;}
.weui_cell {padding: 10px 0;}
.weui_cell_hd {width:4rem;margin-right:0.75rem;border-right: 1px solid #DCDCDC;}




