<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,NiceScroll"/>
</head>
<body>
<@p.valid id="freight" action="freight_edit_sub.do" class="layui-form" layui=true>
 <@p.legend text="提示信息"/> 
 <input type="hidden" name="freightId" value="${freight.freightId}" />
         <div class="layui-form-item">
		    <@p.layinput label="模版名称"  datarule="required;" name="freightName" value="${freight.freightName}"/>
	     </div>
         <!-- <div class="layui-form-item">
		    <@p.layinput label="费用(元)"  datarule="required;" name="amount" value="${freight.amount}"/>
	     </div>
         <div class="layui-form-item">
		    <@p.layinput label="首重(kg)"  datarule="required;" name="first" value="${freight.first}"/>
	     </div>
         <div class="layui-form-item">
		    <@p.layinput label="续重(kg)"  datarule="required;" name="additional" value="${freight.additional}"/>
	     </div>
         <div class="layui-form-item">
		    <@p.layinput label="单价(元)"  datarule="required;" name="additionalPrice" value="${freight.additionalPrice}"/>
	     </div> -->
	     <div class="layui-form-item">
		    <@p.layinput label="单价(元)"  datarule="required;" name="price" value="${freight.price}"/>
	     </div>
</@p.valid>
</body>
</html>