<div class="datagrid-toolbar">
	<a href="javascript:;" id="btn_all" class="easyui-linkbutton" plain="true" icon="icon-renew">全部</a>
</div>
<ul id="mytree" class="ztree"></ul>
<script type="text/javascript">
	var tree;
	$(function() {
		tree = new Tree();
		tree.queryParams = myparams;
		tree.url = "${base}/admin/componet/select_company_data.do";
		tree.initTree("mytree");
		tree.onClick = function(node) {
			company_click(node);
		};
		$("#btn_all").on("click", function() {
			btnall_click();
		});
	});
</script>
</body>