<body style="overflow: hidden">
	<script type="text/javascript">
		var purchaseorder;
		$(function() {
			purchaseorder = new Dd("purchaseorder");
			purchaseorder.url = "purchaseorder_list_data.do";
			purchaseorder.title = "${(languaged !='')?string('englishName',' 采购订单信息 ')}";
			purchaseorder.colM = [ [
					{
						title : "主键",
						field : "purchaseorderId",
						alias : "p",
						hidden : true
					},
					{
						title : "${(languaged !='')?string('partsId','零件Id')}",
						field : "partsId",
						alias : "p",
						width : 100,
						align : "center",
						hidden : true
					},
					{
						title : "${(languaged !='')?string('supplier','供应商')}",
						field : "supplier",
						alias : "p",
						width : 100,
						align : "center"
					},
					{
						title : "${(languaged !='')?string('Customer name','公司名称')}",
						field : "companyName",
						alias : "f",
						width : 100,
						align : "center"
					},
					{
						title : "${(languaged !='')?string('job number','工单号')}",
						field : "targetId",
						alias : "p",
						width : 100,
						align : "center"
					},
					{
						title : "${(languaged !='')?string('purchase Order Number','采购订单号')}",
						field : "purchaseOrderNo",
						alias : "p",
						width : 100,
						align : "center"
					},
					{
						title : "${(languaged !='')?string('supplier Name','零件名称')}",
						field : "partsName",
						alias : "pa",
						width : 100,
						align : "center"
					},
					{
						title : "${(languaged !='')?string('Quantity','数量')}",
						field : "partsNumber",
						alias : "pa",
						width : 100,
						align : "center"
					},
					{
						title : "${(languaged !='')?string('Cost','零件成本')}",
						field : "partCost",
						alias : "p",
						width : 100,
						align : "center"
					},
					{
						title : "${(languaged !='')?string('selling price','出售价格')}",
						field : "totalCost",
						alias : "p",
						width : 100,
						align : "center"
					},
					{
						title : "${(languaged !='')?string('repaircompanyId','所属维修公司')}",
						field : "repaircompanyId",
						alias : "p",
						width : 100,
						hidden : true,
						align : "center"
					},
					{
						title : "${(languaged !='')?string('profit','单品利润')}",
						field : "profits",
						alias : "p",
						width : 100,
						align : "center"
					},
					{
						title : "${(languaged !='')?string('totalprofit','总利润')}",
						width : 100,
						field : "totalprofit",
						align : "center"
							,formatter : function(value, rows, index) {
								var profits=rows.profits;
								var partsNumber=parseInt(rows.partsNumber);
								if(profits!=""&& partsNumber!=""){
									return parseFloat(profits) * partsNumber;
								}else{
								return  0;
								}
							}
					}
					,
					
					{
						title : "${(languaged !='')?string('Received(Yes/No)','采购状态')}",
						field : "status",
						alias : "p",
						width : 100,
						align : "center",
						formatter : function(value, rows, index) {
							return Fm
									.formatter(
											{
												"1" : "${(languaged !='')?string('processed','已处理')}",
												"0" : "${(languaged !='')?string('undisposed','未处理')}",
											}, value);
						}
					},
					/* {
						title : "${(languaged !='')?string('orderType','类型')}",
						field : "orderType",
						alias : "p",
						width : 100,
						align : "center",
						formatter : function(value, rows, index) {
							return Fm
									.formatter(
											{
												"1" : "${(languaged !='')?string('checkOrder','检查卡')}",
												"2" : "${(languaged !='')?string('workOrder','工作卡')}",
											}, value);
						}
					}, */
					{
						title : "${(languaged !='')?string('createDate','创建时间')}",
						field : "createDate",
						alias : "p",
						width : 100,
						align : "center"
					} ] ];

			purchaseorder.toolbar = [  {
			       id : "purchaseorder_add",
			       text : "${(languaged !='')?string('add',' 添加 ')}",
			       iconCls : "icon-add",
			       handler : function() {
			         purchaseorder.open2({
			           title : "${(languaged !='')?string('add','添加 采购订单')}",
			           h : "70%",
					w : "45%",
					btn:["${(languaged !='')?string('confirm',' 确认 ')}","${(languaged !='')?string('close',' 关闭 ')}"],
			           url : "purchaseorder_add_turn.do",
			           params : myparams
			         });
			       }
			     }, {
				id : "purchaseorder_edit",
				text : "${(languaged !='')?string('edit',' 修改')}",
				iconCls : "icon-edit",
				disabled : true,
				handler : function() {
					purchaseorder.updata2({
						title : "${(languaged !='')?string('edit','修改 采购订单')}",
						h : "70%",
						w : "45%",
						url : "purchaseorder_edit_turn.do",
						btn : [ "${(languaged !='')?string('confirm',' 确认 ')}",
								"${(languaged !='')?string('close',' 关闭 ')}" ],
						params : {
							purchaseorderId : purchaseorder.rowKey
						}
					});
				}
			} /* , {
			        id : "purchaseorder_del",
			        text : "${(languaged !='')?string('delete',' 删除')}",
			        iconCls : "icon-remove",
			        disabled : true,
			        handler : function() {
			          purchaseorder.remove({
			             url : "purchaseorder_del_sub.do",
			             params : {
			                purchaseorderId : purchaseorder.rowKey
			             },
			             title:"${(languaged !='')?string('are you delete?','')}",
			             content:"${(languaged !='')?string('delete content','确定要删除所选记录吗?')}",
			              btn:["${(languaged !='')?string('confirm',' 确认 ')}","${(languaged !='')?string('close',' 关闭 ')}"]
					  });
			        }
			      } */];
			purchaseorder.param = myparams;
			purchaseorder.onClickRow = function(rowIndex, rowData) {
				if (rowData.status == 0) {
					$("#purchaseorder_edit,#purchaseorder_del").linkbutton(
							"enable");
				} else {
					$("#purchaseorder_edit,#purchaseorder_del").linkbutton(
							"disable");
				}
			}
			purchaseorder.onLoadSuccess = function(data) {
				$("#purchaseorder_edit,#purchaseorder_del").linkbutton(
						"disable");
			};
			purchaseorder.LoadDataGrid();
			$('#search').linkbutton({
				iconCls : 'icon-search',
				onClick : function() {
					myparams.companyName = $("#companyName").val();
					myparams.targetId = $("#workOrderNo").val();
					purchaseorder.search(myparams);
				}
			});
		});
	</script>
	<div fit="true" class="easyui-layout">
		<div region="north" title="查询条件" style="height: 70px;">
			<div class="pannel_search">
			${(languaged !='')?string('companyName',' 公司名称 ')}：<input type="text" class="easyui-textbox" data-options="prompt:'${(languaged !='')?string('companyName',' 公司名称 ')}'" id="companyName"/>
			${(languaged !='')?string('workOrderNo','工作编号')}：<input type="text" class="easyui-textbox" data-options="prompt:'${(languaged !='')?string('workOrderNo','工作编号')}'" id="workOrderNo"/>
				<a href="javascript:;" id="search">${(languaged
					!='')?string('search','查询')}</a>
			</div>
		</div>
		<div region="center" style="overflow: hidden; border: none;">
			<table fit="true" namespace="purchaseorder" id="purchaseorder"
				class="datagrid"></table>
		</div>
	</div>
</body>