<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<@p.resource types="Jquery,Easyui,NiceScroll,AnyDataGrid"/>
<script type="text/javascript">
	var myparams = {
			accountType :"${accountType}"
	};
	function noImage() {
		var img = event.srcElement;
		img.src = "../../res/nbxy/image/noone.png";
		img.onerror = null;
	}
	
	function train_click(node) {
		search(myparams);
	}
</script>
</head>
<body class="easyui-layout" style="overflow-y: hidden">
	<!-- 中央 -->
	<div region="center" split="true" title="查询条件" style="border: none; overflow: hidden;" href="accountinfo_list_trun.do"></div>
</body>
</html>