<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,EasyUI"/>
</head>
<body>
	<@p.valid id="company" action="company_add_sub.do" class="layui-form" layui=true>
	<input id="areaId" name="area.areaId" type="hidden" value="${area.areaId}">
	 <@p.legend text="所属区域:${area.areaName}"/>
	<div class="layui-form-item">
		<div class="layui-inline"><@p.layinput label="单位名称" datarule="required;" name="compName" /></div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline"><@p.layinput label="详细地址" datarule="required;" name="address" /></div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline"><@p.layinput label="单位电话" datarule="required;" name="compTel" /></div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline"><@p.layinput label="联系人" datarule="required;" name="linkMan" /></div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline"><@p.layinput label="项目经理" datarule="required;" name="proMan" /></div>
	</div>
	</@p.valid>
</body>
</html>