<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,NiceScroll"/>
</head>
<body>
<@p.valid id="cooperate" action="cooperate_edit_sub.do" class="layui-form" layui=true>
 <@p.legend text="提示信息"/> 
 <input type="hidden" name="cooperateId" value="${cooperate.cooperateId}" />
         <!-- <div class="layui-form-item">
		    <@p.layinput label="所属公司"  datarule="required;" name="companyId" value="${supply.companyId}"/>
	     </div> -->
         <div class="layui-form-item">
		    <@p.layinput label="发布人"  datarule="required;" readonly="readonly" name="publisher" value="${accountInfo.userName}"/>
	     </div>
         <div class="layui-form-item">
		    <@p.layinput label="合作项目"  datarule="required;" name="cooperateTitle" value="${cooperate.cooperateTitle}"/>
	     </div>
         <div class="layui-form-item">
		    <@p.layinput label="合作条件"  datarule="required;" name="cooperateCondition" value="${cooperate.cooperateCondition}"/>
	     </div>
         <div class="layui-form-item">
		    <@p.layinput label="地址"  datarule="required;" name="address" value="${cooperate.address}"/>
	     </div>
         <div class="layui-form-item">
		    <@p.layinput label="截止日期"  datarule="required;" name="expiryDate" value="${cooperate.expiryDate}"/>
	     </div>
	     <!-- <@p.legend text="商品小图"/>
		 <div class="layui-form-item">
			<div class="layui-inline" style="padding-left: 20px;">
			<@p.upload id="imageSmall" list=goodsSmall btnId="pre" name="imageSmall" delurl="${base}/admin/goods/goodsSamll_image_del.do" pathField="imageSmall" idField="goodsId" />
			</div>
		 </div>
         <div class="layui-form-item">
		    <@p.layinput label="产品图片"  datarule="required;" name="supplyPic" value="../${supply.supplyPic}"/>
	     </div> -->
</@p.valid>
</body>
</html>