<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,EasyUI"/>
</head>
<body>
	<@p.valid id="company" action="company_edit2_sub.do" class="layui-form" layui=true>
	<input name="companyId" type="hidden" value="${company.companyId}"> <@p.legend text="修改公司"/>
	<div class="layui-form-item">
		<div class="layui-inline"><@p.layinput label="公司名称" datarule="required;" name="compName" value="${company.compName}"/></div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline"><@p.layinput label="公司电话" datarule="required;" name="compTel" value="${company.compTel}"/></div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline"><@p.layinput label="联系人" datarule="required;" name="linkMan" value="${company.linkMan}"/></div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline"><@p.layinput label="详细地址" datarule="required;" name="address" value="${company.address}"/></div>
	</div>
	</@p.valid>
</body>
</html>