<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,NiceScroll"/>
</head>
<body>
<@p.valid id="obligation" action="obligation_add_sub.do" class="layui-form" layui=true>
 <@p.legend text="${(languaged !='')?string('Design duty','添加设计职责')}"/> 
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('Name of duty','设计职责名称')}"  datarule="required;" datamsgrequired="${(required)!''}" name="obligationName" />
	     </div>
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('line number','显示行数')}"  datarule="required;" datamsgrequired="${(required)!''}" name="type" />
	     </div>
	     <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('sort','排序')}"  datarule="required;" datamsgrequired="${(required)!''}" name="indexs" />
	     </div>
	     
</@p.valid>
</body>
</html>