<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,NiceScroll,EasyUI,webuploader,ueditor"/>
</head>
<body>
	<@p.valid id="push" action="push_add_sub.do" class="layui-form" layui=true>
	<div class="layui-form-item">
		<div class="layui-inline">
			<@p.layinput label="推送标题" id="pushTitle" width="513" name="pushTitle" datarule="推送标题:required;length[1~50]"
			placeholder="请输入推送标题" remark="长度1-50"/>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline"><@p.layinput label="url" id="pushTitle" width="513" name="pushUrl" placeholder="请输入url"/></div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline"><@p.switch label="立即推送" value="0" name="status" text="是|否"/></div>
	</div>
	<div class="layui-form-item"><@p.ueditor label="内容" id="container" name="pushContent" /></div>
	</@p.valid>
	<script type="text/javascript">
		$(function() {
			var ue = new Ue("container");
			ue.init();
		});
	</script>
</body>
</html>