<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,NiceScroll"/>
</head>
<body>
<@p.valid id="checkitem" action="checkitem_edit_sub.do" class="layui-form" layui=true>
 <@p.legend text="${(languaged !='')?string('Modify Item','修改检查项目')}"/> 
 	<input type="hidden" name="checkItemId" value="${checkitem.checkItemId}" />
        <!--  <div class="layui-form-item">
		    <@p.layinput label="${(languaged !='')?string('equipmentTypeId','设备类型Id')}"  datarule="required;" datamsgrequired="${(required)!''}" name="equipmentTypeId" value="${checkitem.equipmentTypeId}"/>    
	     </div> -->
         <div class="layui-form-item">
		    <@p.layinput label="${(languaged !='')?string('Items','项目检查名称')}"  datarule="required;" datamsgrequired="${(required)!''}" name="checkItemName" value="${checkitem.checkItemName}"/>    
	     </div>
	     <div class="layui-form-item">
		    <@p.layinput label="${(languaged !='')?string('items english','项目检查英文名称')}"  datarule="required;" datamsgrequired="${(required)!''}" name="checkItemEnglishName" value="${checkitem.checkItemEnglishName}"/>    
	     </div>
</@p.valid>
</body>
</html>