<body style="overflow: hidden">
 <script type="text/javascript">
      var quotedprice;
    $(function() {
      quotedprice = new Dd("quotedprice");
      quotedprice.url = "quotedprice_list_data.do";
      quotedprice.title = "${(languaged !='')?string('Cargo information','货物信息 ')}";
      quotedprice.colM = [ [/*  {
        field : "ck",
        checkbox : true,
        align : "center"
      }, */ {
        title : "主键",
        field : "quotedpriceId",
        alias : "q",
        hidden:true
      } ,{
        title : "${(languaged !='')?string('commodity','货物名')}",
        field : "commodity",
        alias : "q",
        width : 100,
        align : "center"
      } ,{
        title : "${(languaged !='')?string('price','价格')}",
        field : "price",
        alias : "q",
        width : 100,
        align : "center"
      } ] ];

      quotedprice.toolbar = [ 
                <#if engineer =="">                       
                              {
        id : "quotedprice_add",
        text : "${(languaged !='')?string('add',' 添加 ')}",
        iconCls : "icon-add",
        handler : function() {
          quotedprice.open2({
            title : "${(languaged !='')?string('add','添加 ')}",
            h : "70%",
			w : "45%",
			btn:["${(languaged !='')?string('confirm',' 确认 ')}","${(languaged !='')?string('close',' 关闭 ')}"],
            url : "quotedprice_add_turn.do",
            params : myparams
          });
        }
      }, 
      </#if>
      <#if engineer =="">
      {
        id : "quotedprice_edit",
        text : "${(languaged !='')?string('edit',' 修改')}",
        iconCls : "icon-edit",
        disabled : true,
        handler : function() {
          quotedprice.updata2({
            title : "${(languaged !='')?string('edit','修改 ')}",
            h : "70%",
			w : "45%",
            url : "quotedprice_edit_turn.do",
            btn:["${(languaged !='')?string('confirm',' 确认 ')}","${(languaged !='')?string('close',' 关闭 ')}"],
            params : {
                quotedpriceId : quotedprice.rowKey
            }
		  });
        }
      }, 
      </#if>
      <#if engineer =="">
      {
        id : "quotedprice_del",
        text : "${(languaged !='')?string('delete',' 删除')}",
        iconCls : "icon-remove",
        disabled : true,
        handler : function() {
          quotedprice.remove({
             url : "quotedprice_del_sub.do",
             params : {
                quotedpriceId : quotedprice.rowKey
             },
             title:"${(languaged !='')?string('are you delete?','')}",
             content:"${(languaged !='')?string('delete content','确定要删除所选记录吗?')}",
              btn:["${(languaged !='')?string('confirm',' 确认 ')}","${(languaged !='')?string('close',' 关闭 ')}"]
		  });
        }
      } 
      </#if>
      ];
      quotedprice.param = myparams;
      quotedprice.onClickRow = function(rowIndex, rowData) {
       $("#quotedprice_edit,#quotedprice_del").linkbutton("enable");
      }
      quotedprice.onLoadSuccess = function(data) {
       $("#quotedprice_edit,#quotedprice_del").linkbutton("disable");
      };
      quotedprice.LoadDataGrid();
      $('#search').linkbutton({
        iconCls : 'icon-search',
        onClick : function() {
          quotedprice.search(myparams);
        }
      });
    });
    function nameSearch(){
   		myparams.searchContent = $("#searchContent").val();
   	}
  </script>
 <div fit="true" class="easyui-layout">
  <div region="north" title="查询条件" style="height: 70px;">
     <div class="pannel_search">
   		${(languaged !='')?string('description of goods',' 货物名称')}：<input type="text" class="easyui-textbox" data-options="prompt:'${(languaged !='')?string('description of goods',' 货物名称')}'" id="searchContent"/> 
       <a href="javascript:;" id="search" onClick="nameSearch()";>${(languaged !='')?string('search','查询')}</a>
   </div>
  </div>
  <div region="center" style="overflow: hidden;border: none;">
   <table fit="true" namespace="quotedprice" id="quotedprice" class="datagrid"></table>
  </div>
 </div>
</body>