<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,NiceScroll"/>
</head>
<body>
<@p.valid id="checkresult" action="checkresult_add_sub.do" class="layui-form" layui=true>
 <@p.legend text="${(languaged !='')?string('add Result','添加检查结果')}"/> 
        <!--  <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('checkResultId','')}"  datarule="required;" datamsgrequired="${(required)!''}" name="checkResultId" />
	     </div> -->
         <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('Result code','检查结果编号')}"  datarule="required;" datamsgrequired="${(required)!''}" name="checkResultCode" />
           <@p.layinput label="${(languaged !='')?string('Sorting','排序')}"  datarule="required;" datamsgrequired="${(required)!''}" name="Indexs" />
	     </div>
	      <div class="layui-form-item"> 
           <@p.layinput label="${(languaged !='')?string('Result name','检查结果名称')}"  datarule="required;" datamsgrequired="${(required)!''}" name="checkResultName" />
           <@p.layinput label="${(languaged !='')?string('Result english Name','检查结果英文名称')}"  datarule="required;" datamsgrequired="${(required)!''}" name="checkResultEnglishName" />
	     </div>
</@p.valid>
</body>
</html>