<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,NiceScroll"/>
</head>
<body>
<@p.valid id="punish" action="punish_add_sub.do" class="layui-form" layui=true>
 <@p.legend text="提示信息"/> 
         <div class="layui-form-item">
		   <@p.layinput label="惩罚开始时间"  datarule="required;" name="startTime" />
	     </div>
         <div class="layui-form-item">
		   <@p.layinput label="惩罚结束时间"  datarule="required;" name="endTime" />
	     </div>
         <div class="layui-form-item">
		   <@p.layinput label="状态 0 失效 1生效"  datarule="required;" name="status" />
	     </div>
         <div class="layui-form-item">
		   <@p.layinput label="惩罚用户ID"  datarule="required;" name="accountInfoId" />
	     </div>
         <div class="layui-form-item">
		   <@p.layinput label="运单ID"  datarule="required;" name="wayBillId" />
	     </div>
</@p.valid>
</body>
</html>