<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<@p.resource types="Jquery,EasyUI,ueditor"/>
</head>
<body>
<@p.valid id="about" action="about_add_sub.do" class="layui-form" layui=true>
        <fieldset class="layui-elem-field layui-field-title">
			<legend>添加关于信息</legend>
		</fieldset>
			     <div class="layui-form-item" style="margin-left:5px;"><@p.layinput label="标题"  datarule="required;" name="title" width=250/></div>
			     <div class="layui-form-item"><@p.layinput label="排序号"  datarule="required;number;" name="indexs" /></div>
			     <div class="layui-form-item"><@p.ueditor label="内容" id="container" name="content" /></div>
  </@p.valid>
  
  <script type="text/javascript">
		$(function() {
				var ue = new Ue("container");
				ue.params = {
					"folder" : "message"
				};
				ue.init();
		});
	</script>
</body>
</html>